<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<link rel="stylesheet" href="/stylesheets/new.css">

<h1>Edit Post</h1>
<form action="/posts/<%= post._id %>?_method=PUT" method="POST" novalidate class="validated-form"
    enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="post[title]" class="form-control" id="title" value="<%= post.title %>" required>
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input type="text" name="post[category]" class="form-control" id="category" value="<%= post.category %>"
            required>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Upload image(s)...<input id="my-file-selector" type="file"
            style="display:none;" onchange="$('#upload-file-info').val($(this).val());"></label>
        <input class="form-control" type="file" id="image" name="image" multiple data-show-upload="true"
            data-show-caption="true" onchange="displayPreview(this)">
    </div>
    <div class="mb-3 d-flex d-none overflow-auto" id="image-preview"></div>
    <div class="mb-3">
    Delete images
        <div class="d-flex overflow-auto">
            <% post.images.forEach((img, i) => { %>
                <div class="card g-0" style="width: 180px;" id="preview-card">
                    <img src="<%= img.square %>" class="card-img-top" style="height: 180px;" alt="...">
                    <div class="card-body">
                        <label for="image-<%= i %>" class="overflow-auto"><%= img.originalname %></label>
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <div class="mb-3">
        <label for="Content" class="form-label">Content</label>
        <textarea class="form-control" name="post[content]" id="Content" rows="10"
            value="<%= post.content %>"></textarea>
    </div>
    <a class="btn btn-secondary" href="/posts/<%= post._id %>">Back</a>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
<script>
    const content = <%- JSON.stringify(post.content) %>;
    const simplemde = new SimpleMDE({ initialValue: content });
</script>
<script src="/javascripts/displayPreview.js"></script>
