<% layout('layouts/boilerplateSidebar') %>
<link rel="stylesheet" href="/stylesheets/show.css">
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
    integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">

<div class="row justify-content-center">
    <!-- Post Section -->
    <div class="col-lg-8 mb-5">
        <h1 class="mb-3"><%= post.title %> </h1>
        <p class="text-muted">category: <%= post.category %> </p>
        <p> <%- post.html %> </p>
        <a class="btn btn-sm btn-secondary" href="<%= originalUrl %>">Back</a>
        <% if (currentUser) { %>
        <a href="/posts/<%= post._id %>/edit" class="btn btn-sm btn-secondary">Edit</a>
        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST" class="d-inline">
            <button class="btn btn-danger btn-sm">Delete</button>
        </form>
        <% } %>
    </div>
    <!-- Comment Section -->
    <%- include('../partials/comment') %>
</div>
<script>
    for (const tb of document.querySelectorAll("table")) {
        tb.classList.add("pure-table", "pure-table-bordered", "mb-3");
    }
</script>